* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jersey-25-light {
  font-family: "Jersey 25", sans-serif!important;
}

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif!important;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page-nav {
  border-bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-color: white;
  border-radius: 10px;
  padding-inline: 1em;
  margin: 1em;
}

.page-nav > ul {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  width: 100%;
}

.page-nav > ul > a {
    all: unset;
    padding: 0.5em;
    border-radius: 5px;
    cursor: pointer;
    background-color: #204B57;
    color: white;
}

.menu {
  display: flex;
  align-items: center;
  width: 100px;
}

ul {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2rem;
}

.nav-bar > a {
  all: unset;
  font-size: 25px;
  font-family: sans-serif;
  cursor: pointer;
  color: white;
}

main {
  margin-inline: 20em;
}

h1 {
  font-size: 35px;
  font-family: "Georgia", serif;
}

h2 {
  margin-top: 2em;
}

span {
  font-family: "Georgia", serif;
}

p {
  font-size: 19px;
  text-align: justify;
  font-family: sans-serif;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 5px solid #197BBD;
}

.pic {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-block: 3em;
}

figcaption a {
  all: unset;
  font-weight: bold;
  cursor: pointer;
}

aside {
  top: 20px;
  box-shadow: 5px 5px 0 #C2B8B2;
  float: right;
  width: 200px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
}

.aside-bar ul {
  display: flex;
  flex-direction: column;
}

.aside-bar ul > a {
  all: unset;
  cursor: pointer;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

.aside-bar ul > a:hover {
  color: #197BBD;
  transition: all 0.5s;
}

em {
  font-weight: bold;
}