main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main > div > iframe 
{
  width: 100%;
  height: 500px;
  border-radius: 12px;
}

main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.title {
    font-size: 100px;
    margin: 1em auto;

}

.artist-info {
    width: 100%;
    height: 200px;
    margin-top: 1em;
    background-color: #f0f0f0;
    border-radius: 12px;
}

.artist-info {
    padding: 1em;
    font-size: 18px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jersey 25', sans-serif;
    line-height: 1.5;
}

.back-button {
    margin: 2em auto;
}