nav {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-color: #204B57;
  border-radius: 10px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}

.my-name {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}

.box {
  all: unset;
  border-radius: 10px;
  border: 5px solid white;
  height: 50px;
  width: 50px;
}

.link {
  all: unset;
  font-size: 25px;
  font-family: sans-serif;
  cursor: pointer;
}

ul {
  display: flex;
  justify-content: right;
  gap: 1rem;
}

ul, a {
  color: white;
}