* {
  margin: 0;
  padding: 0;
}

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif!important;
  font-weight: 400;
  font-style: normal;
}

nav {
  border-bottom: 2px solid black;

  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-color: #204B57;
  border-radius: 10px;
  padding-inline: 1em;
  margin: 1em;
}

.menu {
  display: flex;
  align-items: center;
  width: 100px;
}



ul {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2rem;
}

.nav-bar > a {
  all: unset;
  font-size: 25px;
  font-family: sans-serif;
  cursor: pointer;
  color: white;
}

em {
  font-weight: bold;
}


footer {
  width: 100%;
  height: 300px;
  background-color: #204B57;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer > div {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}


footer  a, footer  p {
  all: unset;
  color: white;
}

footer .footer-header {
  font-size: 32px;
  margin-bottom: 1em;
}

footer  a {
  cursor: pointer;
  font-size: 20px;
  
}