

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif!important;
  font-weight: 400;
  font-style: normal;
}

nav {
  border-bottom: 2px solid black;

  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-color: #204B57;
  border-radius: 10px;
  padding-inline: 1em;
}

.menu {
  display: flex;
  align-items: center;
  width: 100px;
}



ul {
  display: flex;
  justify-content: right;
  gap: 2rem;
}

.nav-bar > a {
  all: unset;
  font-size: 25px;
  font-family: sans-serif;
  cursor: pointer;
  color: white;
}



em {
  font-weight: bold;
}