.movie-card {
  width: 600px;
  height: 400px;
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: Arial, sans-serif;

}

.movie-info {
  font-family: "Jersey 25", sans-serif;
  font-size: 30px;
}

.movie-poster {
  width: 200px;
  border-radius: 8px;
}

.movie-title {
  margin-top: 0;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: row;
  height: 60vh;
}


.creator {
  margin-top: 2em;
}